*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #3f3d56;
  --smooth: all 0.3s ease-in;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

button {
  text-align: center;
  color: #fff;
  background: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  /* background: var(--green-l); */
  opacity: 0.8;
  transition: var(--smooth);
  box-shadow: 0 0 15px var(--green);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* --- Header --- */
.header {
  position: absolute;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* logo */
.navbar__img {
  width: 57px;
  height: 57px;
  object-fit: cover;
}

/* link - menu */
.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: var(--gray);
  z-index: 5;
  transition: var(--smooth);
  /* ẩn menu sang bên trái */
  transform: translateX(-100%);
  opacity: 0;
}

/* hiển thị menu */
.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  padding: 40px;
  list-style-type: none;
}

.navbar__link a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  transition: var(--smooth);
  padding: 10px;
}

.navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1rem;
  background: var(--green);
  margin-left: 45px;
}

/* ☰ button */
.navbar__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon {
  position: relative;
  width: 45px;
  height: 6px;
  background: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon::after,
.navbar__icon::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background: var(--gray);
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon::before {
  transform: translateY(-12px);
}
.navbar__icon::after {
  transform: translateY(12px);
}

/*🆇 button animation */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* --- Banner --- */
#banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.banner__heading {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}

.banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-top: 0.8em;
}

.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
}

.banner__btn {
  font-size: 1rem;
}

.banner__socials {
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.banner__socials a {
  color: var(--gray);
  transition: var(--smooth);
}

.banner__socials a:hover {
  color: var(--green-l);
  transition: var(--smooth);
}

/* --- things --- */
#things {
  position: relative;
  overflow-x: hidden;
  margin-top: 5px;
}

#things h2 {
  text-align: center;
  margin-bottom: 3em;
  color: var(--gray);
}

.things__dec {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-60%);
  z-index: -1;

  &:nth-child(2) {
    top: initial;
    left: initial;
    right: 0;
    bottom: 15%;
    transform: translateX(60%);
    z-index: -1;
  }
}

.things__item {
  margin: 3em 0;
}

.things__item img {
  padding-bottom: 4em;
}

.things__item--heading {
  color: var(--gray);
  text-align: center;
}

.things__item--heading p {
  margin: 0 auto;
  font-weight: 300;
  line-height: 2em;
  max-width: 300px;
  padding-top: 1em;
}

/* --- Responsive Desktop --- */
@media (min-width: 992px) {
  /* --- header --- */
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  .navbar__link a {
    color: var(--gray);
  }

  .navbar__icons {
    display: none;
  }

  .navbar__btn {
    background: var(--gray);
  }
  .navbar__btn:hover {
    box-shadow: 0 0 10px var(--gray);
    transition: var(--smooth);
  }

  /* --- Banner Desktop --- */
  .banner__heading {
    text-align: initial;
    margin: 0;
    padding-top: 0;
  }

  .banner__socials {
    justify-content: flex-start;

    & a {
      margin-right: 45px;
    }
  }

  .banner__img {
    width: 55%;
  }

  .banner__btn:hover {
    box-shadow: 0 0 10px var(--gray);
    transition: var(--smooth);
  }

  /* --- things desktop --- */
  #things {
    margin-top: 15em;
    position: relative;
    overflow-x: hidden;
  }

  .things__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 0;

    & img {
      width: 40%;
      padding-bottom: 0;
    }

    & .things__item--heading {
      width: 45%;
      text-align: initial;

      &:nth-child(odd) {
        order: 1;
        width: 45%;
        text-align: initial;
      }

      & p {
        margin: 0;
        max-width: 500px;
      }
    }

    &:nth-child(odd) img {
      order: 2;
      width: 40%;
      padding-bottom: 0;
    }
  }
}
